<div class="userLoginComponent">
  <form [formGroup]="loginForm" (ngSubmit)="login($event)" novalidate>
    <table>
      <tbody>
        <tr>
          <td>
            <text-box label="用户名" [form]="loginForm" controlName="userName"></text-box>
          </td>
        </tr>
        <tr>
          <td>
            <text-box label="密码" [form]="loginForm" controlName="password" type="password"></text-box>
          </td>
        </tr>
        <!-- <tr>
          <td>
            <picture-upload label="照片" [form]="loginForm" controlName="picture"></picture-upload>
          </td>
        </tr> -->
        <tr>
          <td colspan="2" class="thBtns">
            <input type="submit" class="btn btn-primary" value="登录" />
          </td>
        </tr>
      </tbody>
    </table>
  </form>

  <div>
    <input [(ngModel)]="vvv" />
    <test [aa]="vvv"></test>
  </div>
</div>
  